/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* Body */
body {
  height: 100vh;
  background: linear-gradient(135deg, #2B7CFF, #6EC6FF);
}

/* Container */
.container {
  display: flex;
  height: 100vh;
}



/* Left Section */

 
.left {
  
  flex: 1;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px;
}

.left h1 {
  font-size: 40px;
  margin-bottom: 15px;
}

.left p {
  font-size: 16px;
  opacity: 0.9;
}

/* Right Section */
.right {
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: center;
  align-items: center;
}

/* Form Box */
.form-box {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(15px);
  padding: 35px;
  border-radius: 20px;
  width: 320px;
  text-align: center;

  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

/* Heading */
.form-box h2 {
  color: white;
  margin-bottom: 20px;
}

/* Inputs */
.form-box input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: none;
  border-radius: 10px;
  outline: none;

  background: rgba(255,255,255,0.2);
  color: white;
}

/* Placeholder */
.form-box input::placeholder {
  color: #e0e0e0;
}

/* Button */
.form-box button {
  width: 100%;
  padding: 12px;
  margin-top: 15px;

  background: white;
  color: #2B7CFF;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;

  transition: 0.3s;
}

/* Hover */
.form-box button:hover {
  background: #f0f0f0;
  transform: scale(1.05);
}

/* Bottom text */
.signup-text {
  margin-top: 15px;
  color: white;
  font-size: 14px;
}

.signup-text a {
  color: #fff;
  font-weight: bold;
  text-decoration: underline;
}